
/*medium screens*/
@media (max-width:655px) and (min-width:541px) {

.grid{
  margin: -50px 0 0 -60px;

}
.instructions {
  top: 280px;
  left: 30px;
  width: 80px;
}
.instructions:hover {
  top: 275px;
  left: 24px;
  width: 100px;
  transition: 0.2s;
}
#in {
  width: 25px;
  bottom: 300px;
  left: 20px;
}

#tw {
  width: 30px;
  bottom: 230px;
  left: 20px;
}

#gh {
  width: 50px;
  bottom: 130px;
  left: 10px;
}

#la {
  width: 100px;
  left: 20px;
  bottom: 30px;
}

#in:hover {
  width: 35px;
  bottom: 295px;
  left: 15px;
}

#tw:hover {
  width: 40px;
  bottom: 225px;
  left: 15px;
}

#gh:hover {
  width: 60px;
  bottom: 125px;
  left: 5px;
}

#la:hover {
  width: 115px;
  left: 15px;
  bottom: 28px;
}
  /*footer*/

}
/*small screen*/
@media only screen and (max-width: 540px) {
  h1 {
    margin-top: 40px;
    margin-bottom: 20px;
    line-height: 100px;
    font-size: 80px;
  }
p{
    font-family: "Indie Flower", cursive;
    padding-top: 60px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 24px;
}
  /* grid container*/
  .grid {
    margin: 0 auto;
    width: 100%;
  }
  /* grid lines and icons*/
  .grid-container {
    height: 110%;
    display: grid;
    grid-template-columns: 115px 115px 115px;
    grid-template-rows: 115px 115px 115px;
    margin: 130px 200px 100px 210px;
  }
  /* grid lines*/
  #lines {
    width: 100%;
    margin: -125px 0 0 -150px;

  }
  /* grid Icons*/
  .a, .b, .c, .d, .e, .f, .g, .h, .i {
    width: 65%;
    margin: -105px 0 0 -130px;
  }
  /* How to play button */
  .instructions {
    top: 280px;
    left: 30px;
    width: 80px;
  }
  .instructions:hover {
    top: 275px;
    left: 24px;
    width: 100px;
    transition: 0.2s;
  }
  /*back to game button same as above but hidden
     until imnstruction state*/
  .toGame {
    top: 50px;
    left: 30px;
    width: 80px;
  }
  .toGame:hover {
    top: 45px;
    left: 25px;
    width: 100px;
    transition: 0.2s;
  }
  /* how to play end*/

  /*reset game button*/
  .resetGame {
    width: 300px;
    margin: 60px 200px 100px 80px;
  }
  .resetGame:hover {
    width: 320px;
    margin: 55px 200px 100px 70px;
  }
  .draw{
    position: absolute;
    width: 300px;
    margin: 110px 200px 0 80px;
    z-index: 10;
     visibility: hidden;
  }
  .draw:hover{
    width: 320px;
    margin: 105px 200px 0 75px;
    transition: 0.2s;
  }

  /*reset game button*/
  .combo1 {
    margin: 45px 200px 100px 80px;
    width: 300px;
  }
  .combo2 {
    margin: 160px 200px 100px 80px;
    width: 300px;
  }

  .combo3 {
    margin: 270px 200px 100px 80px;
    width: 300px;
  }

  .combo4 {
    margin: 160px 200px 100px -35px;
    width: 300px;
  }

  .combo5 {
    margin: 160px 200px 100px 80px;
    width: 300px;
  }
  .combo6 {
    margin: 160px 200px 100px 195px;
    width: 300px;
  }
  .combo7 {
    margin: 160px 200px 100px 50px;
    width: 360px;
  }
  .combo8 {
    margin: 160px 200px 100px 50px;
    width: 360px;
  }
  /* dash lines */
  /*footer*/
  #in {
    width: 25px;
    bottom: 15px;
    left: 230px;
  }

  #tw {
    width: 30px;
    bottom: 15px;
    left: 300px;
  }

  #gh {
    width: 40px;
    bottom: 15px;
    left: 150px;
  }

  #la {
    width: 100px;
    left: 15px;
    bottom: 15px;
  }

  #in:hover {
    width: 35px;
    bottom: 10px;
    left: 225px;
  }

  #tw:hover {
    width: 40px;
    bottom: 10px;
    left: 295px;
  }

  #gh:hover {
    width: 50px;
    bottom: 10px;
    left: 145px;
  }

  #la:hover {
    width: 115px;
    left: 10px;
    bottom: 10px;
  }
    /*footer*/
    .arrowleft {
      margin-right: 120px;
    }
    .arrowright {
      margin-left: 110px;
    }
    span {
      font-family: "Indie Flower", cursive;
      font-size: 30px;
    }
    .decide{
      margin-bottom: 90px;
    }
}
/*xs screens*/
@media only screen and (max-width: 417px) {

  /* grid container*/
  .grid {
    margin:-60px 0 200px -35px;
    width: 100%;
  }

  /* How to play button */
  .instructions {
    top: 170px;
    left: 30px;
    width: 80px;
  }
  .instructions:hover {
    top: 165px;
    left: 24px;
    width: 100px;
    transition: 0.2s;
  }
  /*back to game button same as above but hidden
     until imnstruction state*/
  .toGame {
    top: 240px;
    left: 30px;
    width: 80px;
  }
  .toGame:hover {
    top: 235px;
    left: 25px;
    width: 100px;
    transition: 0.2s;
  }
  /* how to play end*/

  /* dash lines */

    /*footer*/
    .arrowleft {
      margin-right: 100px;
    }
    .arrowright {
      margin-left: 100px;
    }
    span {
      font-family: "Indie Flower", cursive;
      font-size: 20px;
      letter-spacing: 2px;
    }

}

@media (max-width:416px) and (min-width:100px) {

h1{
  margin-top: 20px;
  line-height: 60px;
}
p{
  margin-top: -20px;
}
.htp{
  margin-top: 20px;
  line-height: 80px;
}
  /* grid container*/
  .grid {
    margin:-60px 0 200px -35px;
    width: 100%;
  }

  /* How to play button */
  .instructions {
    top: 80px;
    left: 30px;
    width: 60px;
  }
  .instructions:hover {
    top: 75px;
    left: 24px;
    width: 70px;
    transition: 0.2s;
  }
  /*back to game button same as above but hidden
     until imnstruction state*/
  .toGame {
    top: 120px;
    left: 30px;
    width: 60px;
  }
  .toGame:hover {
    top: 115px;
    left: 25px;
    width: 70px;
    transition: 0.2s;
  }
  /* how to play end*/

  /* dash lines */
  .decide{
    margin-top: -20px;
  }
    /*footer*/
    .arrowleft {
      margin-right: 100px;
    }
    .arrowright {
      margin-left: 100px;
    }
    span {
      font-family: "Indie Flower", cursive;
      font-size: 20px;
      letter-spacing: 2px;
    }

}
